<div class="column " style="text-align: center;">
<h2 class="title pb-4">New Account</h2><hr>
<form class="register-form">
  <div>
    <label for="username-register">Username</label>
    <input type="text" id="username-register" />
  </div>
  <div>
    <label for="email-register">Email Address</label>
    <input type="text" id="email-register" />
  </div>

    <div>
    <label for="github-register">Github Profile</label>
    <input type="text" id="github-register" />
  </div>
  <div>
    <label for="password-register">Password</label>
    <input type="password" id="password1-register" />
  </div>
  <div>
    <label for="password-register"> Confirm Password</label>
    <input type="password" id="password-register" />
  </div>
  <div>
    <button type="submit" class="button is-primary">Register</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>